*.code-workspace
.DS_Store
**/.DS_Store
Module1/M1project/data
Module6/Tutorials/inception/tensorflow_inception_graph.pb
Module6/Tutorials/material.tgz
Module6/Tutorials/TL_1/
Module6/Tutorials/TL_2/
Module6/Tutorials/inference_model.pth
Module6/Tutorials/runs/